@import "../../commons";

#weather {
  text-align: center;
  .temp {
    color: @color2;
    font-size: 3em;
    font-weight: bold;
    &:after {
      content: "°C";
      font-size: 0.6em;
      vertical-align: top;
    }
  }
  .brief {
    color: @color2;
  }
  .descr {
    font-style: italic;
  }
}
