
#twitter {
  .tweeter {
    font-size: 3em;
    font-weight: bold;
  }
  .imgs {
  	float: left;
  	width: 60px;
  }
  .user_img_2 {
  	opacity: 0.5;
  }
   .user_img_3 {
  	opacity: 0.2;
  }
  .deets {
  	overflow: hidden;
  	width: 80%;
  	margin-left: 60px;
  }
}
