* {
  box-sizing: border-box;
  transition: 1s;
  -webkit-transition: 1s;
}

body {
  background: #000 url("images/noise.png");
  color: hsl(39, 95%, 79%);
  font-family: "Geo", monospace;
}

#wrapper {
  width: 1024px;
  height: 768px;
  margin: 20px auto 0 auto;
  position: relative;
}

section {
  position: absolute;
  overflow: hidden;
  opacity: 0.8;
}
section > * {
  visibility: hidden;
}
section.visible > * {
  visibility: visible;
}

.boxed {
  padding: 10px;
  background-color: hsl(23, 84%, 15%);
  border:1px solid hsl(39, 95%, 59%);
  box-shadow: 0 0 5px hsl(39, 95%, 59%);
}

#scanlines {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent url("images/scanline.png");
  opacity: 0.2;
}

ul {
  list-style: none
}

#weather {
  z-index: 20;
  width: 250px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#france {
  z-index: 20;
  position: absolute;
  right: 20px;
  top: 120px;
  width: 250px;
}

#twitter {
  z-index: 20;
  width: 380px;
  left: 10px;
  top: 10px;
}

#zendaily {
  z-index: 10;
  right: 340px;
  top: 10px;
  left: 400px;
  width: 250px;
  height: 300px;
}

#github {
  z-index: 10;
  left: 10;
  top: 200px;
  width: 380px;
}

#hackernews {
  z-index: 20;
  width: 380px;
  left: 400px;
  top: 340px;
}
