* { box-sizing: border-box; }

body {
	background: #000 url("images/noise.png");
	color: hsl(39, 95%, 39%);
	font-family: courier, monospace;
}

section {

	border:1px solid hsl(39, 95%, 29%);
	box-shadow: 0 0 5px hsl(39, 95%, 59%);
	margin: 20px;
	width: 250px;

}

#scanlines {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent url("images/scanline.png");
	opacity: 0.4;
}

#weather {
  position: absolute;
  right: 10px;
  top: 10px;
}
