@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- link rel="apple-touch-icon" href="/icon.png"/ -->

        <link href='http://fonts.googleapis.com/css?family=Geo:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @widgets.Widgets.all.map { widget =>
          <link rel="stylesheet" href="@routes.Assets.at("widgets/"+widget+"/main.css")" />
        }
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/rAF.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
